main {
    margin-top: 110px;
    margin-right:auto;
    margin-left:auto;
    height: 1000px;    
}

.movie-card {
    width: 80%;
    margin: auto;           
}

.movie-card video {
    width: 400px;
    margin: 0 auto;
}

.col-flick {
    position: relative;
    margin-left: 160px;
}

.col-flick h1 {
   margin-left: 27%;
}

.card {
    width:350px;
    
}

hr {
    width:350px;
    margin-right: 180px;
}

.card > p {
    display: inline-block;
    font-size: 0.8rem;
    line-height: 1rem;
    text-align: justify;
    margin-left: 4px; 
       
}

.card-image {
    width: 10%;
    height: 10%;   
}

img {
    width:100px;
    margin-top: 7px;
    margin-right: 15px;
    float: left;
}

.desc {
    display: inline-block;
}


@media (max-width: 840px) {
    .col-flick {      
        margin-left:120px;
    }
}
