main {
    margin-top: 110px;
    margin-right:auto;
    margin-left:auto;
    height: 1000px;    
}

.movie-card {
    width: 80%;
    margin: auto;           
}

.movie-card video {
    width: 100%;
    margin: 0 auto;
}

.col-flick {
    position: relative;
    margin-left: 160px;
    text-align: center;
    
}

.col-flick h1 {  
   color: whitesmoke;
   background-color: #999999;
   border-radius: 12px;
}

.card {
    width:100%;
    background-color:#999999;
    border-radius: 12px;
    padding-right: 5px;    
}

hr {
    width:100%;
    margin-right: 180px;
}

.card > p {
    display: inline-block;
    font-size: 0.7rem;
    line-height: 1rem;
    text-align: justify;
    margin-left: 4px; 
    color: whitesmoke;       
}

.card-image {
    width: 10%;
    height: 10%;   
}

img {
    width:18%;
    margin-top: 7px;
    margin-right: 5px;
    float: left;
    border-radius: 5px;    
}


.desc {
    display: inline-block;
}


@media (max-width: 840px) {
    .col-flick {      
        margin-left:120px;
    }
}
