.footer {
    position:fixed;
    right:0;
    bottom:0;
    left:0;
    background-color:black;
    min-height:50px;
    height:8%;
    display:flex;
    flex-direction:column;    
    align-items:center;
}

.footer > .about > .about-list {    
    list-style-type:none;
    display:flex;
    justify-content:space-around;  
    margin:7px 0;  
}

.about-list a {    
    text-decoration:none;
    color:white;    
    margin-right:1.5em;    
} 

.about-item a:hover {
    color:black;
    font-weight:600;
    transition:.5s;
}
.about-item:hover {
    background-color:#999999;
    transition:.5s;
}

.footer > .social-media > .sm-list {
    list-style-type:none;
    justify-content:space-around;  
    display:flex;
    margin-top:0;   
}

.social-media .fab {
    margin:0 1rem;
    color:white;
}

.social-media .fab:hover {
    color:black;
    font-weight:600;
    transition:0.5s;
}

.sm-item:hover {
    background-color:#999999;
    transition:0.5s;
}

@media (max-width:450px) {       
       .about .about-list a {
        margin-right:.6rem;
    }
}

@media (max-width:599px) {   
    .navbar {
        height:35px;
        line-height:30px;         
    }  
}

