@media(max-width:1980px) and (min-width:1600px) {   
    .netmovies {
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("/assets/img/netmovies-XL.png");
        background-size: 1600px;  
    }
    
    main {
        max-width: 1800px; 
        height:910px;      
        margin: 0 auto;     
    }
}

@media(max-width:1599px) and (min-width:1400px){   
    .netmovies {
       background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("/assets/img/netmovies-L.png");
       background-size: 1400px 800px;
    }
      
    main {
        max-width: 1600px; 
        height:800px;      
        margin: 0 auto;
    }
}

@media(max-width:1400px) and (min-width:1200px){   
    .netmovies {
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("/assets/img/netmovies-M.png");
        background-size: 1200px 700px;       
    }
      
    main {
        max-width: 1400px; 
        height:800px;      
        margin: 0 auto;     
    }
}

@media(max-width:1200px) and (min-width:1000px){   
    .netmovies {    
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("/assets/img/netmovies-MS.png");
        background-size: 1200px; 
    }
      
    main {
        max-width: 1200px; 
        height:1090px;      
        margin: 0 auto;     
    }
}

@media(max-width:1000px) and (min-width:800px){   
    .netmovies {
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("/assets/img/netmovies-MS.png");       
        background-size: 1000px;           
    }
      
    main {
        max-width: 1000px; 
        height:900px;      
        margin: 0 auto;     
    }
}

@media(max-width:800px) and (min-width:600px){   
    .netmovies {
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("/assets/img/netmovies-mov-L.png");
        background-size: 800px;
    }
      
    main {
        max-width: 800px; 
        height:850px;      
        margin: 0 auto;     
    }
}

@media(max-width:600px) and (min-width:400px){   
    .netmovies {       
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("/assets/img/netmovies-mov-MS.png");
        background-size: 600px;          
    }
      
    main {
        max-width: 600px; 
        height:1000px;      
        margin: 0 auto;     
    }
}

@media(max-width:400px) and (min-width:200px){   
    .netmovies {       
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),  url("/assets/img/netmovies-mov-S.png");
        background-size: 400px;   
        width: 400px;
        height:800px;
    }
      
    main {
        max-width: 400px; 
        height:700px;      
        margin: 0 auto;            
    }
}

.netmovies {
    margin: 0;
    background-repeat: no-repeat;
    background-position:top center; 
    width: 100%;
    height:100%;
}

.wrapper {
    width:100%;
    height:100%;  
    margin: 0;    
    background-color: white;
}

