main {    
    max-width:900px;
    margin-top:120px ;
    margin-right:auto ;
    margin-left:auto ;    
    height:1000px;    
}

.collage {   
    display:flex;
    flex-wrap:wrap;
}

.col {
    flex:33%;
    max-width:33%;
    padding:0 ;
}

.film {
    position: relative;
    min-height: 200px;
}
  
.col img {        
    max-width:100%;
    display: block;
 }

.marco {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    background: rgba(65, 65, 66, 0.75);
    opacity: 0;
    transition: all ease-in .3s;
    transform: translateY(100%);
    color:white;
    height: 25%;   
    width: 90%; 

}

.film a:hover .marco {
    opacity: 1;
    transform: translateY(0%);
}

.movies {
    margin-bottom:100px;
}

.marco p {
    margin-top:0;
    margin-bottom:0.7rem;
    font-size:0.8rem;
    text-align:center;
    font-weight:bold;
    color:white;
}

.forest::before {
    content:'Forres Gump';    
}

.godfather::before {
    content:'El padrino';
}

.matrix::before {
    content:'Matrix';
}

.mib::before {
    content:'Men in black';
}

.rambo::before {
    content:'Rambo III';
}

.dracula::before {
    content:'Dracula';
}

.stw::before {
    content:'Star Wars';
}

.bbt::before {
    content:'Big Band Theory';
}

.ts::before {
    content:'Toy Story';
}



@media screen and (max-width:400px) {
    .col {
      flex:50%;
      max-width:50%;
    }
}

@media screen and (max-width:300px) {
    .col {
      flex:100%;
      max-width:100%;
    }
}

@media (max-width:270px) {
    main {
        margin-top:110px;
        z-index:9999;
    }

    * {
        font-size:12px;
    } 
}