*, *:after, *:before {
	box-sizing: border-box;
}

:root {
    --navbar-size: 50px;
}

 * {
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 15px;
 }
 	
body {
	margin: 0;
    position: relative;
    min-height: 100vh;
    padding: 0;
	border:solid 1px transparent;
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 17%, rgba(209,209,209,1) 47%, rgba(192,192,192,1) 65%, rgba(192,192,192,1) 100%, rgba(0,0,0,1) 100%, rgba(192,192,192,1) 100%);
	background-repeat: no-repeat;
}


main {
	max-width: 900px;
	margin-top: var(--navbar-size);
}

header {
	position: relative;
}
